# Stellar network configuration
NEXT_PUBLIC_STELLAR_NETWORK=TESTNET
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org

# Soroban contract configurations
NEXT_PUBLIC_NOTES_CONTRACT_ID=CBIS5O7OC2Y5ZVEB6VPTCZTOM2LR6C7BC4FIJ2E56VNVE7PZPA3N3HDA
NEXT_PUBLIC_REPUTATION_CONTRACT_ID=
